<div class="relative">
    <div class="form-bg">
        <div fxLayout="row" fxLayoutAlign="center start" class="pt-2">
            <div fxLayout="column" fxFlex.xl="40" fxFlex.lg="40" fxFlex.md="50" fxFlex.sm="80" fxFlex.xs="90">
                <mat-card class="login-session">
                    <div>
                        <h2 class="base-border">Sistema de Servicio Social</h2>
                        <p>Ingresa con tus datos</p>
                        <form [formGroup]="loginForm">
                            <div fxLayout="column" fxLayoutAlign="start stretch">
                                <mat-form-field style="width: 100%">
                                    <input matInput placeholder="Usuario" type="text" name="email" required formControlName="user">
                                </mat-form-field>
                                <mat-form-field style="width: 100%" class="mb-1">
                                    <input matInput placeholder="Contraseña" type="password" name="password" required formControlName="contraseña">
                                </mat-form-field>
                                <button (click)="login()" class="mat-green" mat-raised-button>INICIAR SESIÓN</button>
                                <p class="error-p">{{error}}</p>
                                <p class="mb-0">¿Eres empresa? <a [routerLink]="['/register']" class="mat-text-primary">Regístrate aquí</a></p>
                            </div>
                        </form>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>