<ngx-datatable
  class="material"
  [rows]="rows"
  [columns]="[{name:'organizacion'},{name:'Descripcion'},{name:'Ciudad'},{name:'legionario'},{name: 'Actions', cellTemplate: this.roleTemplate}]"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [externalPaging]="true"
  [count]="count"
  [offset]="offset"
  [limit]="limit"
  (page)='onPage($event)'>
</ngx-datatable>
<ng-template #roleTemplate let-row="row" let-value="value" let-i="index">
    <button (click)="documents(row)" mat-icon-button>
        <mat-icon>folder</mat-icon>
    </button>
</ng-template>