/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.form-full .form-control{
    width: 100%;
}

.three-columns, .two-columns{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.three-columns > *{
    width: 30%;
}

.two-columns > *{
    width: 45%;
}

.mat-list{
    border: 1px solid #CCC;
    border-radius: 5px;
}

.custom-radio-group {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.custom-radio-button {
    margin: 5px;
}
.flex-row{
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: start;
}
.flex-row > *:first-child{
    flex: 1; 
}
.full-width{
    width: 100%;
}